body {
    background: url("../res/img/bg/bghome.jpg") no-repeat center center fixed;
    background-size: cover;
    opacity: 1;
}

.prologue{
    
}

.prologuevideo {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    margin: 0 5% 0 5%;
    height: 0;
    overflow: hidden;
  }
  
  .prologuevideo iframe,
  .prologuevideo object,
  .prologuevideo embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }